.Page-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("./img/Untitled-12.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.div-text {
  display: flex;
  height: 93px;
  justify-content: center;
}
.text-1 {
  align-self: center;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #3db12f;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  height: 184px;
  width: 321px;
  margin: 10px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  text-align: center;
  background: #3db12f;
  color: #ffffff;
}
hr {
  width: 100%;
  height: 1.2px;
  background: #c4c4c4;
}
.Tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Tables > div > .Tab-table {
  width: 102px;
  height: 32px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.Tables > div > .Conf {
  width: 321px;
  height: 27px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #3db12f;
}
.Tables > div > .Phone {
  width: 164px;
  height: 31px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
}
.Tables > div > .Addres {
  width: 321.7px;
  height: 31px;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .flex-container > div {
    height: 100px;
    width: 261px;
    margin: 10px;
    font-size: 15px;
    line-height: 27px;
  }
  .text-1 {
    width: 310px;
    height: 43px;
    font-weight: 500;
    font-size: 26px;
  }
  .Tables {
    display: flex;
    justify-content: center;
  }
  .Tables > div > .Addres {
    font-size: 10px;
  }
  .Tables > div > .Tab-table {
    font-size: 13px;
  }
  .Tables > div > .Phone {
    font-size: 10px;
  }
  .Tables > div > .Conf {
    font-size: 10px;
    width: 170px;
  }
}

@media only screen and (min-width: 5464px){
  .Page-4 {
    height: 802px;
    width: 100%;
  }
  .text-1{
    font-size: 50px;
  }
  .flex-container > div {
    height: 324px;
    width: 461px;
    margin: 20px;
    font-size: 35px;
    line-height: 50px;
  }  
  .Tables > div > .Addres {
    font-size: 60px;
    width: 945px;
    line-height: 150px;
    margin: 35px;
  }
  .Tables > div > .Tab-table {
    font-size: 60px;
    width: 300px;
    height: 100px;
    line-height: 200px;
  }
  .Tables > div > .Conf {
    font-size: 50px;
    width: 800px;
    line-height: 150px;
  }
  .Tables > div > .Phone {
    font-size: 60px;
    width: 600px;
    line-height: 150px;
    margin: 35px;
  }
}
