#Email {
  padding: 16px 184px 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 328px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 30px;
  margin-top: 30px;
}
.Inp:focus {
  outline: none;
}
.Message1 {
  width: 100%;
  height: 882px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d930;
  z-index: 3;
  display: none;
}
.MessageText1 {
  width: 368px;
  height: 189.23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 368px;
  height: 189.23px;
  background: #ffffff;
  border-radius: 20px;
  flex-direction: column;
}
#MessageTextIcon1 {
  width: 16px;
  height: 50px;
  margin-left: 260px;
}
.MessageText1 > p {
  width: 245.53px;
  height: 96px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #5f6368;
}
