* {
  margin: 0;
  padding: 0;
}
.Header {
  width: 100%;
  display: flex;
  height: auto;
}
.Header1 {
  width: 15%;
  height: auto;
  display: flex;

  flex-direction: column;
  border-right: 1px solid #dadada;
}
.Logo {
  width: 100%;
  height: 64.6px;
  display: flex;

  align-items: center;
}
.Logo > img {
  width: 15%;
  height: 31.4px;
}
.Menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(180deg, #00ada6 0%, #01877d 100%);
}

li {
  width: 150px;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  height: 16.76px;
  list-style: none;
  margin-top: 24px;
}
li a {
  width: 70%;
  list-style: none;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}
ul {
  height: auto;
  margin-top: 42.53px;
}

.Exit {
  width: 65%;
  height: 53.22px;
  border-top: 1px solid #ffffff;
}
.Exit > img {
  margin-top: 20px;
}
.Exit > a {
  width: 50px;
  height: 20px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
  margin-left: 15px;
}
.Header2 {
  width: 85%;
  height: auto;
  display: flex;
  background: #f8f3f3;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Header22 {
  width: 95%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dadada;
  height: auto;
}

.Search {
  width: 83%;
  height: 64.6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: white;
}
.Icons {
  width: 197px;
  height: 64.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Icons > p {
  height: 16.76px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #575757;
}
.Article1 {
  width: 100%;
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.Canvas1 {
  width: 367.25px;
  height: 349.42px;

  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Canvas11 {
  width: 95%;
  height: auto;
}

.Header22 > p {
  height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  background: lightgrey;
  padding-top: 20px;
  background: #f8f3f3;
}
.Canvas11 > p {
  height: 24px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #5f6368;
  margin-top: 10px;
  border-bottom: 1px solid #dadada;
}
#myChart {
  margin-top: 30px;
}
#myChart1 {
  margin-top: 20px;
}
#myChart2 {
  margin-top: 20px;
}

.Canvas11Filter {
  display: flex;
  justify-content: flex-end;
  margin-top: 23.14px;
}
.Canvas11Filter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 88.23px;
  height: 27.76px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 30px;
}
.Canvas11Filter > p {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #575757;
}
.Article2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Canvas2 {
  width: 95%;
  margin-top: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  background: #ffffff;
  border-radius: 10px;
}
.Canvas22 {
  width: 95%;
  height: auto;
}
.Canvas22 > p {
  border-bottom: 1px solid;
  height: 24px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #5f6368;
  margin-top: 10px;
  border-bottom: 1px solid #dadada;
}
.container {
  cursor: pointer;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.3s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -6px);
}

@media only screen and (max-width: 600px) {
  .Menu {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .Canvas1 {
    width: 100%;
    height: auto;
  }
  .container {
    cursor: pointer;
    display: block;
  }

  #myChart {
    margin-top: 11px;
    width: 700px;
    height: 291px;
  }
  .Header1 {
    width: 99%;
  }
  .Menu {
    height: 401px;
  }
  .Header {
    flex-direction: column;
  }
  .Header2 {
    width: 100%;
  }
}
