#Pass1,
#PassRep1 {
  padding: 16px 184px 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 328px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 30px;
  margin-top: 30px;
}
#Pass1,
#PassRep1:focus {
  outline: none;
}
#Err1,
#Err2 {
  color: red;
}
