.createNotification {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.createNotification > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #575757;
}
.createNotification > button {
  gap: 203px;
  width: 106px;
  height: 28px;
  background: #fdb737;
  border-radius: 20px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
  border: none;
}
.notificationArea {
  width: 95%;
  height: 730px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.allNotification {
  width: 100%;
  height: 730px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
tr {
  width: 100%;
  height: 38.7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
td {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #01877d;
  height: 38.7px;
  border-right: 1px solid #dadada;
  display: flex;
  align-items: center;
  word-break: break-word;
}
.td0 {
  width: 33.07px;
}
.td1 {
  width: 290.24px;
  word-wrap: break-word;
}
.td2 {
  width: 245.74px;
}
.td3 {
  width: 180.39px;
}

.td4 {
  width: 143.06px;
}
.td5 {
  width: 143.06px;
}
.td6 {
  width: 123.01px;
}
.td7 {
  width: 140.85px;
}

.td8 {
  width: 122.01px;
  border-right: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 19.68px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12.4px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (max-width: 992px) {
  .allNotification {
    width: 100%;
    height: 730px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  tr {
    width: 15%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #dadada;
    flex-wrap: wrap;
  }
  td {
    width: 90%;
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #01877d;
    height: 38.7px;
    display: flex;
    align-items: center;
    border: none;
  }
  .td0,
  .td1,
  .td2,
  .td3,
  .td4,
  .td5,
  .td6,
  .td7,
  .td8 {
    width: 100%;
    height: auto;
  }
}
