* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 882px;
  width: 100%;
}
.item {
  animation: spinAround 15s linear infinite;
}

.main {
  width: 50%;
  height: 882px;
  background: linear-gradient(180deg, #01877d 0%, #00ada6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spinAround {
  from {
    transform: rotate(0deg) scale(0.7);
  }
  to {
    transform: rotate(360deg) scale(0.7);
  }
}
.main2 {
  width: 50%;
  height: 882px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  width: 123.4px;
  height: 122.99px;
  background: linear-gradient(180deg, #00b4a9 2.17%, #0e8a80 97.37%);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
}

.logoImg {
  width: 53.04px;
  height: 86.58px;
}
.main2 > h2 {
  font-family: "Exo";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #00ada6;
  margin-top: 40px;
}
.Log {
  padding: 16px 198px 16px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 328px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 30px;
  margin-top: 30px;
}
.Log:focus {
  outline: none;
}
.Check {
  display: flex;
  margin-top: 30px;
  height: auto;
  width: 280px;
  justify-content: space-between;
  align-items: center;
}
.Check input {
  width: 16px;
  height: 16px;
  border: 1px solid #dadada;
}
.Check span {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #a3a3a3;
}
.Remind {
  width: 110px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Check p {
  width: 130px;
  height: 24px;

  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #00ada6;
}
.main2 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  width: 328px;
  height: 40px;
  background: #00ada6;
  border-radius: 30px;
  border: none;
  margin-top: 50px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.LinkReg {
  display: flex;
  margin-top: 20px;
  height: auto;
  width: 225px;
  justify-content: space-around;
  align-items: center;
}
.LinkReg p {
  width: 163px;
  height: 24px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #a3a3a3;
}
.LinkReg a {
  width: 89px;
  height: 24px;
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #00ada6;
}
@media only screen and (max-width: 600px) {
  .animation {
    display: none;
  }

  .main2 {
    width: 90%;
  }
}
